﻿@model IEnumerable<Laundry.Model.LaundryMan>

@{
    ViewBag.Title = "ListLaundryMan";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@*<h2>Manage La</h2>*@
<br />
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead style="color:blueviolet;">
                <tr><td colspan="9">List of Users</td></tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Othername)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Branch.BranchName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*  @Html.ActionLink(item.Surname, "UpdateUser", new { Controller = "Admin", Area = "ManageUser", username = item.Username })*@
                            <a href="~/Admin/ManageLaundryMan/UpdateUser?username=@item.Username">@item.Surname</a>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Othername)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Branch.BranchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        @if (item.Status == 1)
                        {
                            <td>
                                Active
                            </td>
                        }
                        else if (item.Status == 0)
                        {
                            <td>
                                Inactive
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.RoleName)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
@section Scripts{
    <script>
        function confirmStatusUpdate() {
            confirm("Are you sure you want to update status");
        }


    </script>

}