﻿@model Laundry.Model.LaundryMan

@{
    ViewBag.Title = "Update  User";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Update User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">

            @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
                {
                <div class="alert alert-success alert-dismissable">
                    @ViewData["Message"]
                </div>
            }
        </div>
        @Html.HiddenFor(model => model.LaundryManID)

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Othername, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Othername, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Othername, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Sex, new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("NewPassword", "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("NewConfirmPassword", "", new { @class = "form-control" })
            </div>
        </div>*@


        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>{
               new SelectListItem { Text = "Active", Value = "1" },
               new SelectListItem { Text = "Inactive", Value = "0"} }, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoleID", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BranchID", (IEnumerable<SelectListItem>)ViewBag.Branch, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="Save" />
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
     

        $(document).ready(function () {
            $('#Save').click(function (e) {
                //e.preventDefault();
                var batchID = $("#BranchID").val();
                if (batchID == "") {
                    alert("Please select branch for user");
                    return false;
                }
                else {
                    return true;
                }
            })
           
        })
    </script>

}
