﻿@model IEnumerable<Laundry.Model.PaymentDetail>

@{
    ViewBag.Title = "SalesReport";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Sales Report</h2>
@using (Html.BeginForm("SalesReport", "Report", FormMethod.Get, new { PageNo = "1", Area="Admin"}))
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="txtStartDate" id="txtStartDate" class="form-control" value="@ViewBag.StartDate" />
                @Html.ValidationMessage("", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("End Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="txtEndDate" id="txtEndDate" class="form-control" value="@ViewBag.EndDate" />
                @Html.ValidationMessage("", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Print" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div class="container">
        @Html.ActionLink("Excel", "ExportSalesReport", new { ReportType = "Excel" })
        @Html.ActionLink("PDF", "ExportSalesReport", new { ReportType = "pdf" })
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead style="color:blueviolet;">
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.KeyDate)*@
                            Transaction Date
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentNo)
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.CustomerName)*@
                            Customer Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerTag)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AmountPaid)
                        </th>
                    </tr>
                </thead>

                @if (Model != null)
                {

                    double TotalCost = 0.00;
                    foreach (var item in Model)
                    {
                        TotalCost = TotalCost + item.AmountPaid;

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.KeyDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.Surname)  @Html.DisplayFor(modelItem => item.Customer.Othername)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerTag)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountPaid)
                            </td>
                        </tr>
                    }
                    <tfoot style="color:blueviolet;">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Total Sales</b></td>
                            <td>
                                <b>@TotalCost</b>
                            </td>
                        </tr>
                    </tfoot>
                }

            </table>
        </div>
    </div>
    if (ViewBag.TotalPages != null)
    {
        double TotalPages = ViewBag.TotalPages;
        <ul class="pagination">
            @for (int i = 1; i <= TotalPages; i++)
            {
                <li class="pageno">@*@Html.ActionLink(@i.ToString(), "SalesReportPaging", new {Area="User", Controller="Report",  str_date= ViewBag.StartDate,  end_date= ViewBag.EndDate, PageNo = i })*@</li>
                <li class="pageno">@Html.ActionLink(@i.ToString(), "SalesReport", new { Area = "Admin", Controller = "Report", txtStartDate = ViewBag.StartDate, txtEndDate = ViewBag.EndDate, PageNo = i })</li>
                @*<li class="pageno">@Html.ActionLink(@i.ToString(), "", new { Area = "", Controller = "", PageNo = i })</li>*@
            }

        </ul>

    }

}