﻿@model IEnumerable<Laundry.Model.Branch>

@{
    ViewBag.Title = "Price Entry";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Branch Setup</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <div class="text-success">
                @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
                {
                    @ViewData["Message"];
                }
            </div>
        </div>

        <div class="container">
            <div class="bg-success" id="message">
            </div>
        </div>
        <br />
        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                    <div class="form-group">
                        @Html.Label("Branch", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("Name", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("Address", "", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Phone Number 1", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("PhoneNumber1", "", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Phone Number 2", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("PhoneNumber2", "", new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" id="Save" />
                        <input type="submit" value="Clear" class="btn btn-danger" id="Clear" style="margin-left:20px;" />
                    </div>
                </div>
                <div style="display:none">
                    @Html.TextBox("Flag", "false")
                </div>
            </div>
        </div>

    </div>
}

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead style="color:blueviolet;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber2)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.ClothId)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.BranchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber1)
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber2)
                        </td>
                        <td>
                            @Html.ActionLink("Update", "BranchUpdate", new { id = item.BranchID })
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>