﻿@model Laundry.Model.Branch
@{
    ViewBag.Title = "Branch Update";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<h2>Branch Update</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="container">
            <div class="bg-success">
                @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
                {
                    @ViewData["Message"];
                }
            </div>
        </div>
        <div class="container">

            <div class="form-group">
                @Html.Label("Branch Name", new { @class = "control-label text-right col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BranchID, (IEnumerable<SelectListItem>)ViewBag.Branches, "Select",
                           new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.BranchID)
                </div>
            </div>

           
            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label text-right col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber1, new { @class = "control-label text-right col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PhoneNumber1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber2, new { @class = "control-label text-right col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PhoneNumber2, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber2)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" name="save" id="save" class="btn btn-default btn-lg" />
                </div>
            </div>
            <div style="display:none">
                @Html.TextBox("Flag")
            </div>
        </div>
    </div>
}



