﻿@using Laundry.BLL
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Laundry App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @{
                    CompanyDetailBs NewCompanyDetailBs = new CompanyDetailBs();
                    CompanyLogoBs NewCompanyLogoBs = new CompanyLogoBs();
                    var result = NewCompanyDetailBs.GetCompanyDetail();
                    var CompanyLogoResult = NewCompanyLogoBs.GetCompanyLogo();

                    //Company Logo
                    if (CompanyLogoResult != null)
                    {
                        if (CompanyLogoResult.Logo != null)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(CompanyLogoResult.Logo)" width="50" height="50" style="float:left; margin-right:10px;" />

                        }
                        else
                        {
                            <img src="~/Images/CompanyLogo.jpg" width="100" height="50" style="float:left; color:#fff; margin-right:10px;" alt="Logo Here" />
                        }
                    }
                    else
                    {
                        <img src="~/Images/CompanyLogo.jpg" width="100" height="50" style="float:left; color:#fff; margin-right:10px;" alt="Logo Here" />
                    }

                    //Company Short Name
                    if (result != null)
                    {
                        @Html.ActionLink(result.Company_ShortName.ToString(), "Index", "Home", new { area = "Common" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                        @Html.ActionLink("Laundry App", "Index", "Home", new { area = "Common" }, new { @class = "navbar-brand" })
                    }
                }
                <ul class="nav navbar-nav">
                    @if (Session["Role"].ToString() == "Administrator") //Admin
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transaction<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Transaction Entry", "TransEntry", new { Controller = "Transaction", Area = "User" }, new { @class = "menuColor" })</li>
                                <li>@Html.ActionLink("Update Payment", "TransUpdate", new { Controller = "Transaction", Area = "User" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Print<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Print Receipt", "PrintReceipt", new { Controller = "Transaction", Area = "User" })</li>
                                <li>@Html.ActionLink("Sales Report", "SalesReport", new { Controller = "Report", Area = "User" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Multi Search", "Search", new { Controller = "Transaction", Area = "User" })</li>
                                <li>@Html.ActionLink("Check Status", "CheckStatus", new { Controller = "Status", Area = "User" })</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Ready/Collection", "UpdateClothStatus", new { Controller = "Transaction", Area = "User" })</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Customer Registration", "CustomerRegistration", new { Controller = "Registration", Area = "Security" })</li>
                                <li>@Html.ActionLink("Update Customer", "UpdateCustomer", new { Controller = "Registration", Area = "Security" })</li>
                                <li>@Html.ActionLink("Search Customer", "CustomerSearch", new { Controller = "Search", Area = "Customer" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Garment Setup", "GarmentEntry", new { Controller = "ClothingUpdate", Area = "Admin" })</li>
                                <li>@Html.ActionLink("Price Setup", "PriceEntry", new { Controller = "ClothingUpdate", Area = "Admin" })</li>
                                <li>@Html.ActionLink("Colour Setup", "CodesEntry", new { Controller = "CodeSettings", Area = "Admin", code_type = "Cod001", code_type_desc = "Color" })</li>
                                <li>@Html.ActionLink("Collection Type Setup", "CodesEntry", new { Controller = "CodeSettings", Area = "Admin", code_type = "Cod002", code_type_desc = "Collection Type" })</li>
                                <li>@Html.ActionLink("Starch Level Setup", "CodesEntry", new { Controller = "CodeSettings", Area = "Admin", code_type = "Cod003", code_type_desc = "Starch Level" })</li>
                                <li>@Html.ActionLink("Pressing Option Setup", "CodesEntry", new { Controller = "CodeSettings", Area = "Admin", code_type = "Cod004", code_type_desc = "Pressing Option" })</li>
                                <li>@Html.ActionLink("Company Setup", "CompanyRegistration", new { Controller = "Registration", Area = "Security" })</li>
                                <li>@Html.ActionLink("Upload Company Logo", "UploadCompanyLogo", new { Controller = "Registration", Area = "Security" })</li>
                                <li>@Html.ActionLink("Branch Setup", "BranchEntry", new { Controller = "Branch", Area = "Admin" })</li>

                            </ul>
                        </li>
                        <li>@Html.ActionLink("Manage Users", "ListLaundryMan", new { Controller = "ManageLaundryMan", Area = "Admin" })</li>

                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transaction<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Transaction Entry", "TransEntry", new { Controller = "Transaction", Area = "User" }, new { @class = "menuColor" })</li>
                                <li>@Html.ActionLink("Update Payment", "TransUpdate", new { Controller = "Transaction", Area = "User" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Print<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Print Receipt", "PrintReceipt", new { Controller = "Transaction", Area = "User" })</li>
                                <li>@Html.ActionLink("Sales Report", "SalesReport", new { Controller = "Report", Area = "User" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Multi Search", "Search", new { Controller = "Transaction", Area = "User" })</li>
                                <li>@Html.ActionLink("Check Status", "CheckStatus", new { Controller = "Status", Area = "User" })</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Ready/Collection", "UpdateClothStatus", new { Controller = "Transaction", Area = "User" })</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Customer Registration", "CustomerRegistration", new { Controller = "Registration", Area = "Security" })</li>
                                <li>@Html.ActionLink("Update Customer", "UpdateCustomer", new { Controller = "Registration", Area = "Security" })</li>
                                <li>@Html.ActionLink("Search Customer", "CustomerSearch", new { Controller = "Search", Area = "Customer" })</li>
                            </ul>
                        </li>
                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["Username"] != null)
                    {
                        <li>@Html.ActionLink("Welcome " + @Session["Username"].ToString(), "", new { Controller = "", Area = "" })</li>
                    }
                    <li>@Html.ActionLink("Logout", "Logout", new { Controller = "Access", Area = "Security" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -  Deeprog</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
