﻿@model IEnumerable<Laundry.Model.Codes>

@{
    ViewBag.Title = "CodesUpdate";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>@ViewBag.code_type_desc Setup</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <div class="text-success">
                @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
                {
                    @ViewData["Message"];
                }
            </div>
        </div>

        <div class="container">
            <div class="bg-success" id="message">
            </div>
        </div>
        <br />
        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                    <div class="form-group">
                        @Html.Label("Code Type", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.TextBox("Codes_Type", @ViewBag.code_type, new { @class = "form-control"})*@
                            <input type="text" class="form-control" name="Codes_Type" id="Codes_Type" value="@ViewBag.code_type" readonly="readonly"/>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Code Description", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("Codes_Desc", "", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Code Value", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("Codes_Val", "", new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" id="Save" />
                        <input type="submit" value="Clear" class="btn btn-danger" id="Clear" style="margin-left:20px;" />
                    </div>
                </div>
                <div style="display:none">
                    @Html.TextBox("Flag", "false")
                    <input type="text" class="form-control" name="Codes_Type_Desc" id="Codes_Type" value="@ViewBag.code_type_desc" />
                </div>
            </div>
        </div>

    </div>
}

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead style="color:blueviolet;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Codes_Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Codes_Desc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Codes_Val)
                    </th>
                    <th></th>
                </tr>
                </thead>
                @if (Model != null)
            {
                foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codes_Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codes_Desc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codes_Val)
                            </td>
                            <td>
                                @Html.ActionLink("Update", "CodesUpdate", new { id = item.Codes_Id })
                                @*@Html.ActionLink("Details", "Details", new { id = item.Codes_Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Codes_Id })*@
                            </td>
                        </tr>
                    }
                }

</table>
    </div>
</div>