﻿@model Laundry.Model.Transaction
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" role="form">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.ClothCode, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(Model => Model.ClothCode, (IEnumerable<SelectListItem>)ViewBag.Code_Desc, "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClothCode, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.Label("Garment", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(Model => Model.ClothCode, (IEnumerable<SelectListItem>)ViewBag.Garments, "Select",
                           new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Cleaning Category", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(Model => Model.CleaningCategory, (IEnumerable<SelectListItem>)ViewBag.CleaningCategory, "Select",
                           new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Service Type", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(Model => Model.ServiceType, (IEnumerable<SelectListItem>)ViewBag.ServiceTypes, "Select",
                           new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.BrandName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StarchLevel, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(Model => Model.StarchLevel, (IEnumerable<SelectListItem>)ViewBag.StarchLevel, "Select",
                           new { @class = "form-control", style = "width: 100px !important; float:left; margin-right:5px;" })
                            @*@Html.LabelFor(model => model.PressingOption, htmlAttributes: new { @class = "control-label col-md-2" })
                                 @Html.DropDownListFor(Model => Model.PressingOption, (IEnumerable<SelectListItem>)ViewBag.PressingOption, "Select",
                                new { @class = "form-control", style = "width: 100px !important; float:left; margin-right:10px;" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PressingOption, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(Model => Model.PressingOption, (IEnumerable<SelectListItem>)ViewBag.PressingOption, "Select",
                           new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Rate", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="UnitPrice" id="UnitPrice" disabled="disabled" />
                            @Html.ValidationMessage("", "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @*@Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })*@
                            @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", style = "width: 50px !important; float:left; margin-right:5px;" })
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3", style = "margin-right:13px;" })
                                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", disabled = "disabled", style = "width: 85px !important; float:left;" })
                        </div>
                    </div>


                    @*Commented Amount Section and placed it inline with Quantity *@
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", disabled = "disabled", style = "width: 100px !important;" })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group"><!--Collection Type changed to finishing type -->
                        @Html.Label("Finishing Types", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(Model => Model.CollectionType, (IEnumerable<SelectListItem>)ViewBag.CollectionType, "Select",
                           new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Colour, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @*@Html.TextBoxFor(model => model.Colour, new { @class = "form-control", style= "width: 70px !important; float:left; margin-right:30px;" })*@
                            @Html.DropDownListFor(Model => Model.Colour, (IEnumerable<SelectListItem>)ViewBag.Color, "Select",
                           new { @class = "form-control", style = "width: 100px !important; float:left; margin-right:10px;" })
                            <span class="btn btn-primary" id="AddItem" style="width: 100px !important; float:left;">Add Cloth</span>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <span class="btn btn-default" id="AddItem">Add</span>
                            </div>
                        </div>*@
                </div>

                <div class="col-md-8">
                    @*<div class="container">*@
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="TableItem" style="width:400px !important">
                            <thead>
                                <tr><th colspan="12">Added Cloth(es)</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width:100px !important">
                                        @Html.DisplayNameFor(model => model.ClothCode)
                                    </th>
                                    <th style="width:30px !important">
                                        Cleaning Category
                                    </th>
                                    <th style="width:30px !important">
                                        Service Type
                                    </th>
                                  
                                    <th style="width:30px !important">
                                        Rate
                                    </th>
                                    <th style="width:10px !important">
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>
                                    <th style="width:30px !important">
                                        @Html.DisplayNameFor(model => model.Amount)
                                    </th>
                                    <th style="width:30px !important">
                                        @Html.DisplayNameFor(model => model.BrandName)
                                    </th>
                                    <th style="width:30px !important">
                                        @Html.DisplayNameFor(model => model.Colour)
                                    </th>
                                    <th style="width:30px !important">
                                        @Html.DisplayNameFor(model => model.StarchLevel)
                                    </th>
                                    <th style="width:30px !important">
                                        @Html.DisplayNameFor(model => model.PressingOption)
                                    </th>
                                    <th style="width:30px !important">
                                        @Html.DisplayNameFor(model => model.CollectionType)
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </tbody>

                        </table>
                        <table>
                            <tr><td colspan="5" style="width:230px !important"><label id="totalLabel"></label></td><td><label id="totalAmt" style="width:30px !important"></label></td><td colspan="3"></td></tr>
                        </table>
                    </div>
                    @*<input type="submit" value="Previous" class="btn btn-default pull-right" id="Previous1" style="margin-right:110px !important" />
                    <input type="submit" value="Next" class="btn btn-default btn-primary pull-right" id="Next2" style="margin-right:10px !important" />*@
                    <div class="text-right">
                        <input type="submit" value="Previous" class="btn btn-default" id="Previous1" />
                        <input type="submit" value="Next" class="btn btn-default btn-primary" id="Next2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}



