﻿@model IEnumerable<Laundry.Model.Transaction>
@{
    ViewBag.Title = "UpdateClothStatus";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>@Session["CustomerName"].ToString(), Garment Details</h2>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead style="color:blueviolet;">
                <tr>
                    <th>
                      Date
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionNo)
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Customer.Surname)*@ Customer Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerTag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClothCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                </tr>
            </thead>
            @if (Model != null)
            {
                double ExpressAmount = 0.00;
                foreach (var item in Model)
                {
                    ExpressAmount = item.ExPressAmount;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.KeyDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Surname)  @Html.DisplayFor(modelItem => item.Customer.Othername)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerTag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClothCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

        })
    </script>

}

