﻿@model Laundry.Model.Transaction

@{
    ViewBag.Title = "PrintReceipt";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Print Receipt</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TransactionNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TransactionNo ,new{ @class = "form-control", @required="required"})
                @*@Html.TextBox("TransNo", new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.TransactionNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Print" class="btn btn-default" />
            </div>
        </div>
        @*<table>
            <tr>
                <th>Matric Number</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@student.MatricNum</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                </tr>
            }
        </table>*@

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
