﻿@model IEnumerable<Laundry.Model.Transaction>

@{
    ViewBag.Title = "PrintReceiptFinal";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Print Receipt</h2>
@*@Html.ActionLink("Excel", "ExportTo", new { ReportType = "Excel" })
@Html.ActionLink("PDF", "ExportTo", new { ReportType = "pdf" })*@
@Html.ActionLink("Excel", "ExportReceiptsTo", new { ReportType = "Excel" })
@Html.ActionLink("PDF", "ExportReceiptsTo", new { ReportType = "pdf" })
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead style="color:blueviolet;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerTag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClothCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                        @*</th>
                            <th>
                                @Html.DisplayNameFor(model => model.LaundryType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Colour)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentMode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AmountPaid)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Balance)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Flag)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.KeyDate)
                            </th>*@
                </tr>
                </thead>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransactionNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerTag)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClothCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.LaundryType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Colour)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentMode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AmountPaid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Balance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Flag)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KeyDate)
                                </td>*@
                        </tr>
                    }
                }

            </table>
    </div>