﻿@model Laundry.Model.Transaction

@{
    ViewBag.Title = "Trans Entry";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
@*@Html.Partial("_AddItem")*@
<style>
    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 95%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 95%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
        width: 360px;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" role="form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="bg-success" id="message">
            </div>
        </div>
        <br />
        <div class="container">
            @*<div class="stepwizard col-md-offset-3">*@
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="" type="button" class="btn btn-primary btn-circle class1" id="NavigationCustomerDetail">1</a>
                        <p>Customer Detail</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="" type="button" class="btn btn-default btn-circle class2" disabled="disabled" id="NavigationGarmentEntry">2</a>
                        <p>Garment Entry</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="" type="button" class="btn btn-default btn-circle class3" disabled="disabled" id="NavigationPaymentDetail">3</a>
                        <p>Payment Detail</p>
                    </div>
                </div>
            </div>
            <div class="row" id="CustomerDetailSection">
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="control-label col-md-4">Phone Number</label>
                        <div class="col-md-8">
                            <input type="text" id="CustomerPhone" class="form-control" value="@ViewBag.CustomerPhone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Surname</label>
                        <div class="col-md-8">
                            <input type="text" id="Surname" disabled="disabled" class="form-control" value="@ViewBag.Surname" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="control-label col-md-4">Email Address</label>
                        <div class="col-md-8">
                            <input type="text" id="EmailAddress" disabled="disabled" class="form-control" value="@ViewBag.EmailAddress" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Othername</label>
                        <div class="col-md-8">
                            <input type="text" id="Othername" disabled="disabled" class="form-control" value="@ViewBag.Othername" />
                        </div>
                    </div>
                    <input type="submit" value="Next" class="btn pull-right btn-primary" id="Next1" style="margin-right:80px;" />
                </div>
            </div>
        </div>
        @*<hr />*@,

        <div id="GarmentSection" style="display:none">
            @Html.Partial("_AddItem")
            <div class="row">
                @*<input type="submit" value="Previous" class="btn btn-default" id="Previous1" />
                    <input type="submit" value="Next" class="btn btn-default btn-primary pull-right" id="Next2" />*@

            </div>
        </div>


        @*<hr />*@
        <div class="container" id="PaymentSection" style="display:none">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TransactionNo, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.TransactionNo, new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.TransactionNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerTag, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.CustomerTag, new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.CustomerTag, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MoreInfo, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.MoreInfo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MoreInfo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Delivery Option", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.DeliveryOption, (IEnumerable<SelectListItem>)ViewBag.DeliveryOptions, "Select",
                           new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Urgency", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.LaundryType, new List<SelectListItem>
                   {
                       new SelectListItem {Text="Express", Value="E" },
                       new SelectListItem {Text="Normal", Value="N" }
                   }, "Select", new { @class = "form-control", style = "width: 100px !important; float:left; margin-right:20px;" })
                            <input type="text" class="form-control" id="ExpressAmount" name="ExpressAmount" style="width: 160px !important; float:left; display:none" />
                            @Html.ValidationMessageFor(model => model.LaundryType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AmountPaid, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.AmountPaid, new { @class = "form-control", style = "width: 100px !important; float:left; margin-right:5px;" })
                            <label for="Balance" class="control-label col-md-2" style="margin-right:13px;">Balance</label>
                            @Html.TextBoxFor(model => model.Balance, new { @class = "form-control", disabled = "disabled", style = "width: 100px !important; float:left;" })
                            @*@Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.PaymentMode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div id="radios">*@
                    @*@Html.RadioButton("radPartPayment", "P", isChecked: false)@Html.Label("Part Payment")
                        @Html.RadioButton("radFullPayment", "F", isChecked: false)@Html.Label("Full Payment")
                        @Html.TextBoxFor(model => model.PaymentMode, new { @style = "display:none", size = "4" })*@
                    @*@Html.TextBoxFor(model => model.PaymentMode, new { size = "4" })*@ @*This has been commented before the group comment*@
                    @*</div>
                                @Html.ValidationMessageFor(model => model.PaymentMode, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.Label("Collection Date", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <input type="date" name="CollectionDate" id="CollectionDate" class="form-control" required="required" style="width: 180px !important; float:left; margin-right:5px;" />
                            <label for="Balance" class="control-label col-md-2" style="margin-right:13px;">dd/mm/yyyy</label>
                            @Html.ValidationMessage("", "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Previous" class="btn btn-default pull-right" id="Previous2" style="margin-right:80px;" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-center">
                    <input type="submit" value="Save All" class="btn btn-default btn-primary" id="Save" />
                    <a href='@Url.Action("PrintReceipt")' class="btn btn-default" id="Print" style="margin-left:20px;">Print Receipt</a>
                    @*<a href='@Url.Action("PrintReceipt"+MyTrNo, new { MyTransNo= @Model.TransactionNo})' class="btn btn-default">Print Receipt</a>*@
                    <input type="submit" value="Clear" class="btn btn-danger" id="clear" style="margin-left:20px;" />

                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#Next1').click(function (e) {
                e.preventDefault();
                var returnMessage = ValidateCustomerDetail()

                if (returnMessage == "") {
                    NextGarmentEntry()
                }
            })

            $('#Next2').click(function (e) {
                e.preventDefault();
                var returnMessage = ValidateGarmentEntry()
                if (returnMessage == "") {
                    NextPaymentDetail()
                }
            })

            $('#Previous1').click(function (e) {
                e.preventDefault();
                PreviousCustomerDetail();
            })

            $('#Previous2').click(function (e) {
                e.preventDefault();
                PreviousGarmentEntry()
            })

            $('#NavigationCustomerDetail').click(function (e) {
                e.preventDefault();
                PreviousCustomerDetail();
            })

            $('#NavigationGarmentEntry').click(function (e) {
                e.preventDefault();
                var returnMessage = ValidateCustomerDetail()
                if (returnMessage == "") {
                    NextGarmentEntry()
                }
            })

            $('#NavigationPaymentDetail').click(function (e) {
                e.preventDefault();
                var returnMessage = ValidateGarmentEntry()
                if (returnMessage == "") {
                    NextPaymentDetail()
                }
            })

            function ValidateCustomerDetail() {
                var message = "";
                if ($('#Surname').val() == "") {
                    message = "Surname must not be empty"
                }
                if ($('#Othername').val() == "") {
                    message = "Othername must not be empty"
                }

                return message;

            }

            function ValidateGarmentEntry() {
                var message = "";
                var totalRowCount = $("#TableItem tr").length;
                if (totalRowCount <= 2) {
                    message = "You have not added any garment";
                }
                return message;
            }

            function NextGarmentEntry() {
                $('#GarmentSection').show();
                $('#CustomerDetailSection').hide();
                $('#PaymentSection').hide();

                $(".class1").removeClass("btn-primary");
                $(".class3").removeClass("btn-primary");
                $(".class2").addClass("btn-primary");
                $(".class2").removeAttr("disabled");
            }

            function NextPaymentDetail() {
                $('#PaymentSection').show();
                $('#GarmentSection').hide();
                $('#CustomerDetailSection').hide();

                $(".class1").removeClass("btn-primary");
                $(".class2").removeClass("btn-primary");
                $(".class3").addClass("btn-primary");
                $(".class3").removeAttr("disabled");
            }

            function PreviousCustomerDetail() {
                $('#CustomerDetailSection').show();
                $('#GarmentSection').hide();
                $('#PaymentSection').hide();

                $(".class3").removeClass("btn-primary");
                $(".class2").removeClass("btn-primary");
                $(".class1").addClass("btn-primary");
            }

            function PreviousGarmentEntry() {
                $('#GarmentSection').show();
                $('#CustomerDetailSection').hide();
                $('#PaymentSection').hide();

                $(".class1").removeClass("btn-primary");
                $(".class3").removeClass("btn-primary");
                $(".class2").addClass("btn-primary");
            }

            $('#UnitPrice').val("0.00");

            $('#ClothCode').change(function () {
                var isHouseHold = false;
                ClearItemEntry()

                if ($('#CleaningCategory').val() == "3")
                    isHouseHold = true;
                else
                    isHouseHold = false;

                if ($('#ClothCode').val() != "" && $('#CleaningCategory').val() != "" &&
                    (isHouseHold == true || $('#ServiceType').val() != "")) {
                    GetPrice();
                }


                if ($('#Quantity').val() != "" && $('#UnitPrice').val() != "0.00") {
                    GetCost();
                    //alert($('#UnitPrice').val())
                }
            });

            $('#CleaningCategory').change(function () {

                var isHouseHold = false;
                ClearItemEntry()

                if ($('#CleaningCategory').val() != "" && $('#CleaningCategory').val() == "3") { //3 --HouseHold does not require service type
                    $('#ServiceType').attr('disabled', 'disabled')
                    $('#ServiceType').val('');
                    isHouseHold = true;
                }
                else {
                    $('#ServiceType').removeAttr('disabled')
                    isHouseHold = false;
                }

                if ($('#ClothCode').val() != "" && $('#CleaningCategory').val() != "" && (isHouseHold == true || $('#ServiceType').val() != "")) {
                    GetPrice();
                }


                if ($('#Quantity').val() != "" && $('#UnitPrice').val() != "0.00") {
                    GetCost();
                    //alert($('#UnitPrice').val())
                }
            });

            $('#ServiceType').change(function () {
                ClearItemEntry()

                if ($('#ClothCode').val() != "" && $('#CleaningCategory').val() != "" &&
                    $('#ServiceType').val() != "") {
                    GetPrice();
                }


                if ($('#Quantity').val() != "" && $('#UnitPrice').val() != "0.00") {
                    GetCost();
                    //alert($('#UnitPrice').val())
                }
            });

            function ClearItemEntry() {
                $('#UnitPrice').val("0.00");
                $('#Quantity').val('');
                $('#Amount').val('');
                $('#Colour').val("");
                $('#CollectionType').val("");
            }

            $('#Quantity').blur(function () {
                //   $('#UnitPrice').val("0.00");
                $("#Amount").val("");
                if ($('#Quantity').val() != "" && $('#UnitPrice').val() != "0.00") {
                    if ($.isNumeric($("#Quantity").val())) {
                        GetCost();
                    }
                    else {
                        alert("Quantity must be numeric");
                        // $('#Quantity').focus()
                    }
                }
            });


            //Setting Express Value Visibility
            $('#LaundryType').change(function () {
                $("#ExpressAmount").val("0.00");
                $('#AmountPaid').val('');
                $("#Balance").val('');
                if ($('#LaundryType').val() != "") {
                    if ($("#LaundryType").val() == "E") {
                        $("#ExpressAmount").show();
                    }
                    else {
                        $("#ExpressAmount").hide();
                    }
                }
            });

            $('#ExpressAmount').blur(function () {
                if ($('#ExpressAmount').val() != "") {
                    if (!$.isNumeric($("#ExpressAmount").val())) {
                        alert("Express Amount must be numeric");
                        $('#ExpressAmount').focus()
                    }
                    else {
                        if ($('#totalAmt').text() != "" && $("#AmountPaid").val() != "") {
                            var totalAmount = Number($('#totalAmt').text()) + Number($('#ExpressAmount').val());
                            if (totalAmount >= Number($("#AmountPaid").val())) {
                                var bal = totalAmount - Number($("#AmountPaid").val())
                                $("#Balance").val(bal);
                            }
                            else {
                                $('#message').text("Amount paid is greater than Total Cost");
                                $("#AmountPaid").focus();
                            }
                        }
                    }
                }
            });

            function GetPrice() {
                ClothCode = $('#ClothCode').val();
                cleaningCategory = $('#CleaningCategory').val();
                serviceType = $('#ServiceType').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("GetGarmentRate", new { Controller="Transaction", Area= "User" })',

                    data: {
                        garmentId: ClothCode,
                        cleaningCategory: cleaningCategory,
                        serviceType: serviceType
                    },
                    success: function (response) {
                        if (response == "not found") {
                            alert("Price has not been set up for the selected garment, cleaning category and service")
                        }
                        else{
                            $('#UnitPrice').val(response.Amount);
                        }
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }
                });

            }

            function GetCost() {
                Quantity = $('#Quantity').val();
                Price = $('#UnitPrice').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("Cost", new { Controller="Transaction", Area= "User" })',

                    data: {
                        Quantity: Quantity,
                        Price: Price
                    },
                    success: function (response) {
                        $('#Amount').val(response);
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }
                });

            }


            $('#AddItem').click(function () {
                var ClothDesc = $("#ClothCode :selected").text();
                var CleaningCategory = $("#CleaningCategory :selected").text();
                var ServiceType = $("#ServiceType :selected").text();
                var BrandName = $('#BrandName').val();
                var Price = $('#UnitPrice').val();
                var Quantity = $('#Quantity').val();
                var Amount = $('#Amount').val();
                var Colour = $("#Colour :selected").text();
                var StarchLevel = $("#StarchLevel :selected").text();
                var PressingOption = $("#PressingOption :selected").text();
                var CollectionType = $("#CollectionType :selected").text();
                if (ClothDesc == "Select") {
                    alert("Please select a cloth")
                    $('#message').text("Please select a cloth");
                }
                else if (CleaningCategory == "Select") {
                    alert("Please select a cleaning category")
                    $('#message').text("Please select a cleaning category");
                }
                else if (CleaningCategory != "3" && ServiceType == "Select") {
                    alert("Please select a service type")
                    $('#message').text("Please select a cleaning category");
                }
                else if (Quantity == "" || Quantity == 0) {
                    alert("Quantity must not be empty or zero")
                    $('#message').text("Quantity must not be empty or zero");
                }
                else if (!$.isNumeric($("#Quantity").val())) {
                    alert("Quantity must be mumeric")
                    $('#message').text("Quantity must be mumeric");
                }
                else if (Colour == "Select" || Colour == "") {
                    alert("Please select colour")
                    $('#message').text("Please select colour");
                }
                else if (StarchLevel == "Select" || StarchLevel == "") {
                    alert("Please select starch level")
                    $('#message').text("Please select starch level");
                }
                else if (PressingOption == "Select" || PressingOption == "") {
                    alert("Please select pressing option")
                    $('#message').text("Please select pressing option");
                }
                else if (CollectionType == "Select" || CollectionType == "") {
                    alert("Please select collection type")
                    $('#message').text("Please select collection type");
                }

                    // if (ClothDesc != "Select" && Price != "0.00" && Quantity != "" && Amount != "") {
                else {
                    var totalRowCount = $("#TableItem tr").length;
                    var rowCount = $("#TableItem td").closest("tr").length;
                    //var message = "Total Row Count: " + totalRowCount;
                    //message += "\nRow Count: " + rowCount;

                    var currentRow = totalRowCount - 1
                    //var currentRow = totalRowCount - 2
                    var newRow = currentRow + 1

                    var newRec = [];
                    newRec["Code"] = ClothDesc
                    newRec["CleaningCat"] = CleaningCategory
                    newRec["Service"] = ServiceType
                    newRec["Brand"] = BrandName
                    newRec["UniPri"] = Price
                    newRec["Qty"] = Quantity
                    newRec["Amt"] = Amount
                    newRec["Col"] = Colour
                    newRec["StarchLvl"] = StarchLevel
                    newRec["PressingOpt"] = PressingOption
                    newRec["ColType"] = CollectionType

                    //newRecRow = "<tr id='" + newRow + "'><td><label id='Code" + newRow + "'>" + newRec["Code"] + "</label></td><td><label id='UniPri" + newRow + "'>" + newRec["UniPri"] + "</label></td><td><label id='Qty" + newRow + "'>" + newRec["Qty"] + "</label></td><td><label id='Amt" + newRow + "'>" + newRec["Amt"] + "</label></td><td><button id='rem" + newRow + "' class='btn btn-danger btn-sm'>Remove Item</button></td></tr>";

                    newRecRow = "<tr id='" + newRow + "' class='myRow'>" +
                        "<td><label id='Code" + newRow + "' class='Code'>" + newRec["Code"] + "</label></td>" +
                        "<td><label id='CleaningCat" + newRow + "' class='CleaningCat'>" + newRec["CleaningCat"] + "</label></td>" +
                        "<td><label id='Service" + newRow + "' class='Service'>" + newRec["Service"] + "</label></td> <td><label id='UniPri" + newRow + "' id='UniPri'>" + newRec["UniPri"] + "</label></td><td><label id='Qty" + newRow + "'>" + newRec["Qty"] + "</label></td><td><label id='Amt" + newRow + "' class='Amt'>" + newRec["Amt"] + "</label></td><td><label id='Brand" + newRow + "'>" + newRec["Brand"] + "</label></td><td><label id='Col" + newRow + "'>" + newRec["Col"] + "</label></td><td><label id='StarchLvl" + newRow + "'>" + newRec["StarchLvl"] + "</label></td><td><label id='PressingOpt" + newRow + "'>" + newRec["PressingOpt"] + "</label></td><td><label id='ColType" + newRow + "'>" + newRec["ColType"] + "</label></td><td><button id='rem" + newRow + "' class='btn btn-danger btn-sm rem'>Remove Item</button></td></tr>";

                    $("#TableItem tbody").append(newRecRow);
                    totalItemsAmount();
                    clearItem();
                    $('#message').text(''); //clear error message
                }
            })

            function CurrentDataToDb(clothDesc, cleaningCat, serviceType, unitPrice, quantity, amount, brandName, colour, starchLevel, pressingOption, collectionType, headerDetail) {
                var self = this;
                var customerName = $('#CustomerName').val();
                var address = $('#Address').val();
                var deliveryOption = $("#DeliveryOption :selected").text();
                //var deliveryOption = $('#DeliveryOption').val();
                var laundryType = $('#LaundryType').val();
                var paymentMode = $("#PaymentMode").val();
                var amountPaid = $('#AmountPaid').val();
                var balance = $("#Balance").val();
                var totalCostAmount = $("#totalAmt").text();
                var customerPhone = $("#CustomerPhone").val();
                var exPressAmount = $('#ExpressAmount').val();
                var emailAddress = $('#EmailAddress').val();
                var collectionDate = $('#CollectionDate').val();
                var moreInfo = $('#MoreInfo').val();
                //var transactionNo = $("#TransactionNo").val();

                //alert(clothDesc)
                //alert(unitPrice)

                self.ClothCode = clothDesc;
                self.CleaningCategory = cleaningCat;
                self.ServiceType = serviceType;
                self.UnitPrice = unitPrice;
                self.quantity = quantity;
                self.Amount = amount;
                //self.CustomerName = customerName;
                self.Colour = colour;
                //self.Address = address;
                self.LaundryType = laundryType;
                self.PaymentMode = paymentMode;
                self.AmountPaid = amountPaid;
                self.Balance = balance;
                self.TotalCostAmount = totalCostAmount;
                self.HeaderDetail = headerDetail;
                self.CustomerPhone = customerPhone;
                self.ExPressAmount = exPressAmount;
                self.EmailAddress = emailAddress;
                self.CollectionDate = collectionDate;
                self.CollectionType = collectionType;
                self.StarchLevel = starchLevel;
                self.PressingOption = pressingOption;
                self.MoreInfo = moreInfo;
                self.BrandName = brandName;
                self.DeliveryOption = deliveryOption;
            }

            function ValidateCollectionDate() {
                var message = "";
                var collDate = $("#CollectionDate").val();
                var today = new Date();
                var inputDate = new Date(collDate);
                if (collDate == "") {
                    message = "Please enter collection date"
                }
                else if (inputDate == "invalid Date") {
                    message = "Please enter a valid collection date";
                }
                else if (inputDate < today) {
                    message = "Collection date must not be less than today's date";
                }
                return message;
            }

            $('#Save').click(function (e) {
                e.preventDefault();
                var totalRowCount = $("#TableItem tr").length;
                if (totalRowCount > 2) {
                    console.log("Total Row " + totalRowCount)
                    var message = ValidateCollectionDate();
                    if ($('#Surname').val() == "") {
                        alert("Customer Surname must not be empty");
                        $('#CustomerName').focus();
                    }
                    else if ($("#DeliveryOption :selected").text() == "Select") {
                        alert("Please select delivery option");
                        $('#DeliveryOption').focus();
                    }
                    else if ($("#LaundryType :selected").text() == "Select") {
                        alert("Please select laundry type");
                        $('#LaundryType').focus();
                    }
                    else if ($("#LaundryType :selected").text() == "Express"
                            && $("#ExpressAmount").val() == "0.00" || $("#ExpressAmount").val() == "") {
                        alert("Please enter Express Amount");
                        $('#ExpressAmount').focus();
                    }
                        //else if ($("#PaymentMode").val() == "") {
                        //    alert("Please select payment mode");
                        //}
                    else if ($("#CustomerPhone").val() == "") {
                        alert("Please enter customer phone number");
                        $('#CustomerPhone').focus();
                    }
                    else if ($("#AmountPaid").val() == "") {
                        alert("Please enter amount paid");
                        $('#AmountPaid').focus();
                    }
                    else if (!$.isNumeric($("#AmountPaid").val())) {
                        alert("Amount paid must be numeric");
                        $('#AmountPaid').focus();
                    }
                    else if ($("#Balance").val() == "") {
                        alert("Balance must not be empty, please ensure transaction is entered correctly");
                        $('#AmountPaid').focus();
                    }
                    else if (message != "") {
                        alert(message);
                        $('#CollectionDate').focus();
                    }
                    else {
                        var r = confirm("Are you sure you want to SAVE transaction");
                        if (r) {

                            var headerDetail = "H"
                            $("#TableItem  tr").each(function (i, row) {
                                if (i > 1) {
                                   // console.log((row))
                                    //alert(headerDetail)
                                    //var tdFirst = $(this).find("td:first").html();
                                    //var myValue = $(this).find("td:first label:first").html();
                                    var tdFirst = $(this).find("td").eq(0).html();
                                    var clothDesc = $(this).find("td").eq(0).find("label").text();
                                    var cleaningCategory = $(this).find("td").eq(1).find("label").text();
                                    var serviceType = $(this).find("td").eq(2).find("label").text();
                                    var unitPrice = $(this).find("td").eq(3).find("label").text();
                                    var quantity = $(this).find("td").eq(4).find("label").text();
                                    var amount = $(this).find("td").eq(5).find("label").text();
                                    var brandName = $(this).find("td").eq(6).find("label").text();
                                    var colour = $(this).find("td").eq(7).find("label").text();
                                    var starchLevel = $(this).find("td").eq(8).find("label").text();
                                    var pressingOption = $(this).find("td").eq(9).find("label").text();
                                    var collectionType = $(this).find("td").eq(10).find("label").text();

                                    var request = new CurrentDataToDb(clothDesc, cleaningCategory, serviceType, unitPrice, quantity,
                                                            amount, brandName, colour, starchLevel, pressingOption, collectionType, headerDetail);
                                    $.ajax({
                                        url: '@Url.Action("Transact", new { Controller="Transaction", Area= "User" })',
                                        dataType: 'json',
                                        contentType: "application/json",
                                        type: "POST",
                                        data: JSON.stringify(request),
                                        success: function (response) {
                                            $('#message').text("Record save successfully");
                                            $('#TransactionNo').val(response.transNo);
                                            $('#MyTrNo').val(response.transNo);
                                            $('#CustomerTag').val(response.tag);
                                            //$('#TransactionNo').val(response.TransactionNo);
                                            //$('#CustomerTag').val(response.CustomerTag);
                                           
                                        }
                                    });
                                    headerDetail = "D"

                                    //Send message only on the last item on the table
                                    if ((i + 1) == totalRowCount) {
                                        console.log("Send message once");
                                        sendMessage();

                                    }


                                }

                            })
                        }
                        else {
                            return false;
                        }
                    }
                }
                else {
                    alert("Please add cloth before saving");
                    // $('#message').val("Please add cloth before saving");
                }
            });

            function sendMessage() {
                var phoneNo = $('#CustomerPhone').val();
                phoneNo = "234" + phoneNo.substring(1)
                console.log(phoneNo);
                $.ajax({
                    type: "GET",
                    url: "http://api.smartsmssolutions.com/smsapi.php?username=DeeProg&password=Tremendous@1&sender=Laundry&recipient=" + phoneNo + "&message=Your garment has been received for dry cleaning. Thanks for your patronage.",
                    success: successFunc,
                    error: errorFunc
                });

                function successFunc(response) {
                    console.log("Message sending response" + response);
                }

                function errorFunc(error) {
                    //alert("Error occured");//To avoid alerting if no internet connection.
                    console.log(error);
                }
            }

            function totalItemsAmount() {
                var totalRowCount = $("#TableItem tr").length;
                var totalAmount = 0;

                var sum = 0;
                var count = 0
                $('#totalAmt').text("0");
                $('.Amt').each(function (index, element) {
                    totalAmount += Number($(this).text());
                    $('#totalAmt').text(totalAmount);
                    $('#totalLabel').text("Total Amount to be paid");
                });

            }


            function clearItem() {
                $("#ClothCode").val("");
                $("#CleaningCategory").val("");
                $("#ServiceType").val("");
                $('#UnitPrice').val("0.00");
                $('#Quantity').val("");
                $('#Amount').val("");
                $('#Colour').val("");
                $('#CollectionType').val("");
                $('#StarchLevel').val("");
                $('#PressingOption').val(""); BrandName
                $('#BrandName').val("");
            }

            $("#TableItem").on('click', '.rem', function () {
                $(this).closest('tr').remove();
                totalItemsAmount()
            });

            $('#clear').click(function (e) {
                e.preventDefault(); // This will never let the form to load
                var confirmRequest = confirm("Are you sure you want to clear data?");
                if (confirmRequest) {
                    // return true;
                    ClearAll();
                }
                else {
                    //return false;
                }
            });

            $('#AmountPaid').blur(function () {
                $('#message').text("");
                $("#Balance").val("");
                if ($('#AmountPaid').val() != "") {
                    // if ($("#PaymentMode").val() != "" && $('#totalAmt').text() != "") {
                    if ($('#totalAmt').text() != "") {
                        if ($.isNumeric($("#AmountPaid").val())) {
                            var totalAmount = Number($('#totalAmt').text()) + Number($('#ExpressAmount').val());
                            if (totalAmount >= Number($("#AmountPaid").val())) {
                                var bal = totalAmount - Number($("#AmountPaid").val())
                                $("#Balance").val(bal);
                            }
                            else {
                                $('#message').text("Amount paid is greater than Total Cost");
                                $("#AmountPaid").focus();
                            }

                        }
                        else {
                            alert("Amount paid must be numeric");
                            $('#AmountPaid').focus();
                        }
                    }
                    else {
                        $("#AmountPaid").val('');
                        //alert("Please select payment mode and ensured that you have added clothes");
                        alert("Please ensure that you have added clothes");
                    }
                }
            });


            $('#CustomerPhone').blur(function () {
                if ($('#CustomerPhone').val() != "") {

                    GetCustomerByPhoneNumber();
                    $('#Next1').focus();
                }
            });

            function GetCustomerByPhoneNumber() {
                phone = $('#CustomerPhone').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("GetCustomerByPhoneNumber", new { Controller="Search", Area= "Customer" })',

                    data: {
                        phone: phone
                    },
                    success: function (response) {
                        console.log(response)
                        if (response != null) {
                            $('#Surname').val(response.Surname);
                            $('#Othername').val(response.Othername);
                            $('#EmailAddress').val(response.EmailAddress);

                        } else {

                        }
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }
                });

            }

            $('#EmailAddress').blur(function () {
                if ($('#EmailAddress').val() != "") {
                    GetCustomerByEmail();
                    $('#Next1').focus();
                }
            });

            function GetCustomerByEmail() {
                var email = $('#EmailAddress').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("GetCustomerByEmail", new { Controller="Search", Area= "Customer" })',

                    data: {
                        email: email
                    },
                    success: function (response) {
                        console.log(response)
                        if (response != null) {
                            $('#Surname').val(response.Surname);
                            $('#Othername').val(response.Othername);
                            $('#CustomerPhone').val(response.CustomerPhone)
                        } else {

                        }
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }
                })
            }

            var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

            allWells.hide();

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                        $item = $(this);

                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-primary').addClass('btn-default');
                    $item.addClass('btn-primary');
                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });

            allNextBtn.click(function () {
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),
                    isValid = true;

                $(".form-group").removeClass("has-error");
                for (var i = 0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid) {
                        isValid = false;
                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                    }
                }

                if (isValid)
                    nextStepWizard.removeAttr('disabled').trigger('click');
            });

            $('div.setup-panel div a.btn-primary').trigger('click');

        });

        function confirmSaveAction() {
            var r = confirm("Are you sure you want to SAVE transaction");
            if (r) {
                return true;
            }
            else {
                return false;
            }

        }

        function ClearAll() {
            $("#ClothCode").val("");
            $("#CleaningCategory").val("");
            $("#ServiceType").val("");
            $('#UnitPrice').val("0.00");
            $('#Quantity').val("");
            $('#Amount').val("");
            $('#Colour').val("");
            $('#TransactionNo').val("");
            $('#CustomerTag').val("");
            $('#CustomerName').val("");
            $('#Address').val("");
            $('#LaundryType').val("");
            $("#PaymentMode").val("");
            $("#radPartPayment").prop("checked", false);
            $("#radFullPayment").prop("checked", false);
            $("#CustomerPhone").val("");
            $('#AmountPaid').val("");
            $("#Balance").val("");
            $("#totalAmt").text("");
            $("#totalLabel").text("");
            $('#ExpressAmount').val('0.00');
            $('#ExpressAmount').hide();
            $('#message').text("");
            $("#TableItem  tr").remove(".myRow"); //Remove all row from a table with class myRow
        }
    </script>
}
