﻿@model Laundry.Model.Receipt
@{
    ViewBag.Title = "TransactionReceipt";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<style>
    body {
        width: 500px !important;
    }
</style>
@*<h2>TransactionReceipt</h2>*@
<form id="form1">
    <div id="MyReceipt">
        @*<div class="table-responsive" style="font-size:22px;">*@
        <div style="font-size:22px;">
            <table border="0">
                <thead>
                    <tr>
                        <th colspan="5">
                            @*@try
                                {
                                    if (Model.CompanyLogoReceipt != null)
                                    {
                                            <img src="data:image;base64,@System.Convert.ToBase64String(@Model.CompanyLogoReceipt.Logo)" width="100" height="30" style="float:left; margin-right:10px;" />
                                    }
                                }
                                catch (Exception ex)
                                {
                                   string a= ex.Message.ToString();
                                        <img src="~/Images/CompanyLogo.jpg" width="100" height="50" style="float:left; color:#fff; margin-right:10px;" alt="Logo Here" />
                                }*@
                            @*<center>*@ @*@Model.CompanyDetailReceipt.First().Company_Name*@@*</center>*@
                            @Model.CompanyDetailReceipt.First().Company_Name
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td colspan="5">
                        <center>  @Model.CompanyDetailReceipt.First().Company_Address</center>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <center>  @Model.CompanyDetailReceipt.First().Company_Email</center>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <center>  @Model.CompanyDetailReceipt.First().Company_Phone1 , @Model.CompanyDetailReceipt.First().Company_Phone2 </center>

                    </td>
                </tr>
                <tr>
                    <td colspan="5" align="right">@DateTime.Now</td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td>Receipt Number</td>
                    <td colspan="4">@Model.TransactionReceipt.First().TransactionNo</td>
                </tr>
                <tr>
                    <td>Tag Number</td>
                    <td colspan="4">@Model.TransactionReceipt.First().CustomerTag</td>
                </tr>
                <tr>
                    <td>Customer Name</td>
                    <td colspan="4">@Model.CustomerReceipt.Surname  @Model.CustomerReceipt.Othername</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td colspan="4">@Model.CustomerReceipt.Address</td>
                </tr>
                <tr>
                    <td>Delivery</td>
                    <td colspan="4">@Model.TransactionReceipt.First().DeliveryOption</td>
                </tr>
                <tr>
                    <td>Service Type</td>
                    @if (Model.TransactionReceipt.First().LaundryType == "N")
            {
                        <td colspan="4">Normal</td>
                    }
                    else if (Model.TransactionReceipt.First().LaundryType == "E")
                    {
                        <td colspan="4">Express</td>
                    }
                    else
                    {
                        <td colspan="4">Nil</td>
                    }
                </tr>
                <tr>
                    <td>Collection Date</td>
                    <td colspan="4">@Model.TransactionReceipt.First().CollectionDate.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td>Attendant Name</td>
                    <td colspan="4">@Model.LaundryManReceipt.Othername</td>
                </tr>
            </table>
        </div>
        @* <div class="table-responsive">*@
        <div>
            @*<table class="table table-striped table-bordered table-hover">*@
            <table style="font-size:20px;" border="1">
                <thead>
                    <tr>
                        <th>
                            Garment
                        </th>
                        <th>
                            Cleaning Cat
                        </th>
                        <th>
                            Serv. Type
                        </th>
                        <th>
                            Colour
                        </th>
                        <th>
                            Brand
                        </th>
                        <th>
                            Starch
                        </th>
                        <th>
                            Pressing
                        </th>
                        <th style="text-align:right !important">
                            Col. Type
                        </th>
                        <th style="text-align:right !important">
                            Rate
                        </th>
                        <th style="text-align:center !important">
                            Qty
                        </th>
                        <th style="text-align:right !important">
                            Amount
                        </th>
                    </tr>
                </thead>
                @if (Model.TransactionReceipt != null)
            {
                double TotalCost = 0.00;
                double ExpressAmount = 0.00;
                double TotalAmountPaid = 0.00;
                double Balance = 0.00;
                foreach (var item in Model.TransactionReceipt)
                {
                    TotalCost = TotalCost + item.Amount;
                    ExpressAmount = item.ExPressAmount;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClothCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CleaningCategory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Colour)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BrandName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StarchLevel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PressingOption)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CollectionType)
                            </td>
                            <td align="right">
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td align="right">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.TransactionNo)
                                </td>*@
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerTag)
                                </td>*@




                        </tr>
                    }
                    if (ExpressAmount != 0)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="3"><b>Express Amount</b></td>
                            <td align="right">
                                <b>@ExpressAmount</b>

                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"><b>Total Cost</b></td>
                        <td align="right">
                            <b>@(TotalCost + ExpressAmount)</b>

                        </td>
                    </tr>
                    foreach (var item in Model.PaymentDetailReceipt)
                    {
                        TotalAmountPaid = TotalAmountPaid + item.AmountPaid;
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"><b>Amount Paid</b></td>
                        <td align="right">
                            <b>@TotalAmountPaid</b>

                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"><b>Balance</b></td>
                        <td align="right">
                            <b>@(TotalCost + ExpressAmount - TotalAmountPaid)</b>

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <table style="margin-top:10px;" width="690">
        <tr>
            <td>
                <input type="text" value="@Model.TransactionReceipt.First().TransactionNo" id="TransactionNo" style="display:none" />
            </td>
            <td>
                <input type="text" value="@Model.TransactionReceipt.First().EmailAddress" id="EmailAddress" style="display:none" />
            </td>
            <td align="center">
                <input type="submit" id="PrintReceipt" value="Print Receipt" class="btn-primary" style="margin-right :10px; width:100px" />
                <input type="submit" id="EmailReceipt" value="Mail Receipt" class="btn-success" style="width:100px" />
            </td>
        </tr>
    </table>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#EmailReceipt').click(function (e) {
                e.preventDefault();
                //alert($('#MyReceipt').html());
                //alert($('#TransactionNo').val());
                var emailBody = htmlEncode($('#MyReceipt').html());
                var TransNo = "";
                var transactionNo = TransNo = $('#TransactionNo').val(); EmailAddress
                var emailAddress = $('#EmailAddress').val();
                var r = confirm("Are you sure you want to mail receipt to customer");
                if (r) {
                    $.ajax({
                        method: "POST",
                        url: "@Url.Action("MailTransactionReceipt", new { Controller = "Transaction", Area = "User" })",
                        //traditional: true,
                        data: { TransactionNo: transactionNo, EmailAddress: emailAddress, EmailBody: emailBody },
                        success: successFunc,
                        error: errorFunc
                    });

                    function successFunc(data, status) {
                        alert("Email sent");
                        console.log("Email sent");
                    }

                    function errorFunc(request, status, error) {
                        alert(request.responseText);
                        alert("Error occured");
                    }
                }
                else {
                }
            });



            function htmlEncode(value) {
                return $('<div/>').text(value).html();
            }


            $('#PrintReceipt').click(function (e) {
                e.preventDefault();
                PrintReceipt();
            });

            function PrintReceipt() {
                var prtContent = $('#MyReceipt').html();
                var WinPrint = window.open(",", 'left=100,top=100,width=200,height=1200');
                WinPrint.document.write(prtContent);
                WinPrint.document.close();
                WinPrint.focus();
                WinPrint.print()
            }

        })

    </script>
}

