﻿@*@model IEnumerable<IGrouping<Laundry.Model.TransactionHistory,  Laundry.Model.Transaction>>*@
@model IEnumerable<Laundry.Model.TransactionHistory>
@{
    ViewBag.Title = "Transaction History";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>@Session["CustomerName"].ToString(), Transaction History</h2>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead style="color:blueviolet;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.KeyDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionNo)
                    </th>
                    @*<th>
                          Customer Name
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerTag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalCostAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AmountPaid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>
                    <th>
                      
                    </th>
                    <th>
                      
                    </th>

                </tr>
            </thead>
            @if (Model != null)
            {


                foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.KeyDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionNo)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Customer.Surname)  @Html.DisplayFor(modelItem => item.Customer.Othername)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerTag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCostAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountPaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Balance)
                        </td>
                        <td>
                            @Html.ActionLink("Garment Details", "GarmentDetails", new { Area = "User", Controller = "Transaction", TransactionNo = item.TransactionNo }, new { @class = "btn btn-default" })

                        </td>
                        <td>
                            @Html.ActionLink("Payment Details", "PaymentDetails", new { Area = "User", Controller = "Payment", PaymentNo = item.TransactionNo }, new { @class = "btn btn-default" })

                        </td>
                    </tr>


                }

            }

        </table>
    </div>
</div>
