﻿@model IEnumerable<Laundry.Model.Transaction>
@{
    ViewBag.Title = "UpdateClothStatus";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>UpdateClothStatus</h2>
@using (Html.BeginForm("UpdateCloth_Status", "Transaction", FormMethod.Get))
{
    <div class="form-horizontal">

        <div class="container" style="margin-bottom:15px;">
            @if (Session["UpdateMessage"] != null && Session["UpdateMessage"].ToString() !="")
            {
                <div class="bg-success" id="message">
                    @Session["UpdateMessage"];
                </div>
            }

        </div>

        <div class="container">
            @*<div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>
                                Search By
                            </td>
                            <td>
                                Value
                            </td>
                            <td>
                                Start Date
                            </td>
                            <td>
                                End Date
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <select name="type" id="type" class="form-control">
                                    <option value="Select" selected>Select</option>
                                    <option value="TransNo">Transaction Number</option>
                                    <option value="Name">Customer Name</option>
                                    <option value="Date">Entry Date</option>
                                    <option value="Type">Cloth Type</option>
                                </select>
                            </th>
                            <th>
                                <input type="text" name="value" id="value" class="form-control" />
                            </th>
                            <th>
                                <input type="text" name="startdate" id="startdate" class="form-control" />
                            </th>
                            <th>
                                <input type="text" name="enddate" id="enddate" class="form-control" />
                            </th>
                        </tr>
                        <tr><td colspan="4"><input type="submit" value="Search" class="btn btn-default" /></td></tr>
                    </tbody>

                </table>
                </div>*@
            <div class="form-group">
                @Html.Label("Transaction Number", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="MyTransNo" id="MyTransNo" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" id="Save" />
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KeyDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerTag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClothCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <td>
                    @Html.DisplayNameFor(model => model.AmountPaid)
                </td>
                <th>
                    @Html.DisplayNameFor(model => model.ClothStatus)
                </th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Ready", "UpdateStatusReady", new { Transid = item.TransactionId, status = "R" }, new { onclick = "return confirmStatusUpdate()" })|
                            @Html.ActionLink("Collection", "UpdateStatusReady", new { Transid = item.TransactionId, status = "C" }, new { onclick = "return confirmStatusUpdate()" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KeyDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerTag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClothCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountPaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClothStatus)
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>
@section Scripts{
    <script>
        function confirmStatusUpdate() {
         var r=   confirm("Are you sure you want to update cloth status to READY");
         if (r)
         {
             return true;
         }
         else
         {
             return false;
         }

        }
    </script>

}

