﻿@model Laundry.Model.Remittance

@{
    ViewBag.Title = "Remit";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Remit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container text-capitalize" style="margin-bottom:5px; font-size:14px;">
            <div class="bg-danger">
                @if (ViewBag.ErrorMsg != null && ViewBag.ErrorMsg != "")
                {
                    @ViewBag.ErrorMsg;
                }
            </div>
            <div class="bg-success" style="margin-top:5px;">
                @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
                {
                    @ViewData["Message"];
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remittance_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" id="Remittance_Date" name="Remittance_Date" class = "form-control" required />
                @Html.ValidationMessageFor(model => model.Remittance_Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
          <label for="TotalPaymentMade" class ="control-label col-md-2">Total Payment Made</label>
            <div class="col-md-10">
                <input type="text" id="TotalPaymentMade" name="TotalPaymentMade" class="form-control" readonly />
                @Html.ValidationMessageFor(model => model.Remittance_Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Remittance_Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Remittance_Amount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remittance_Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Special_Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Special_Note, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Special_Note, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Remit" class="btn btn-default" />
               
            </div>
        </div>

        <div style="display:none">
           @Html.TextBox("Flag", "false")
            <input type="text" class="form-control" name="UserId" id="UserId" value="@ViewBag.UserId" />
        </div>
    </div>
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Remittance_Date').blur(function () {
                remitDate = $('#Remittance_Date').val();
                userId = $('#UserId').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("GetByRemitDate_UserId", new { Controller= "Remittance", Area= "User" })',

                    data: {
                        date: remitDate,
                        userId: userId
                        },
                    success: function (response) {
                        console.log(response)
                        $('#Remittance_Amount').val(response.Remittance_Amount);
                        $('#Special_Note').val(response.Special_Note);
                        $("#Flag").val("true");
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }

                });
            });


            $('#Remittance_Date').blur(function () {
                remitDate = $('#Remittance_Date').val();
                userId = $('#UserId').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("GetByPaymentDate_UserId", new { Controller= "Transaction", Area= "User" })',

                    data: {
                        date: remitDate,
                        userId: userId
                    },
                    success: function (response) {
                        console.log(response)
                        $('#TotalPaymentMade').val(response);
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }

                });
            });
        });

    </script>

}
