﻿@model IEnumerable<Laundry.Model.Custom.ClothingDetail>

@{
    ViewBag.Title = "CodesUpdate";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>@ViewBag.code_type_desc Setup</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <div class="text-success">
                @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
                {
                    @ViewData["Message"];
                }
            </div>
        </div>

        <div class="container">
            <div class="bg-success" id="message">
            </div>
        </div>
        <br />
        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                  

                    <div class="form-group">
                        @Html.Label("Cloth Description", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("ClothDesc", "", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Gender", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("GenderType", (IEnumerable<SelectListItem>)ViewBag.GenderType, "Select",
                           new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Service Type", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ServiceType", (IEnumerable<SelectListItem>)ViewBag.ServiceType, "Select",
                           new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("Amount", "", new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" id="Save" />
                        <input type="submit" value="Clear" class="btn btn-danger" id="Clear" style="margin-left:20px;" />
                    </div>
                </div>
                <div style="display:none">
                    @Html.TextBox("Flag", "false")
                </div>
            </div>
        </div>

    </div>
}

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead style="color:blueviolet;">
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.ClothId)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.ClothDesc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GenderType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiceType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.ClothId)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.ClothDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GenderTypeDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceTypeDescription)
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.ActionLink("Update", "ClothUpdate", new { id = item.ClothingID })
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>