﻿@model Laundry.Model.PriceDetail
@{
    ViewBag.Title = "Price Update";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<h2>Price Update</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="container">
            <div class="bg-success">
                @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
                {
                    @ViewData["Message"];
                }
            </div>
        </div>
        <div class="container">

            <div class="form-group">
                @Html.Label("Garment Name", new { @class = "control-label text-right col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.GarmentID, (IEnumerable<SelectListItem>)ViewBag.Garments, "Select",
                           new { @class = "form-control", disabled = "disabled"})
                    @Html.ValidationMessageFor(model => model.GarmentID)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Cleaning Category", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CleaningCategory, (IEnumerable<SelectListItem>)ViewBag.CleaningCategories, "Select",
                           new { @class = "form-control", disabled = "disabled", })
                    @Html.ValidationMessageFor(model => model.CleaningCategory)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Service Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ServiceType, (IEnumerable<SelectListItem>)ViewBag.ServiceTypes, "Select",
                           new { @class = "form-control", disabled = "disabled", })
                    @Html.ValidationMessageFor(model => model.ServiceType)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, new { @class = "control-label text-right col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Amount)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" name="save" id="save" class="btn btn-default btn-lg" />
                </div>
            </div>
            <div style="display:none">
                @Html.TextBox("Flag")
            </div>
        </div>
    </div>
}



