﻿@model IEnumerable<Laundry.Model.Clothing>

@{
    ViewBag.Title = "Price List";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Price List</h2>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead style="color:blueviolet;">
                <tr><td colspan="3">Price List</td></tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ClothId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClothDesc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClothId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClothDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
