/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1fff;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
   background-color: #033c73;
   color:#fff;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/*Latest Added*/
.sidebar-nav {
  background-color: #033c73;
  border-color: #022f5a;
}
.sidebar-nav {
  color: #ffffff;
}
.sidebar-nav:hover,
.sidebar-nav:focus {
  color: #ffffff;
  background-color: none;
}
.sidebar-nav .navbar-text {
  color: #ffffff;
}
.sidebar-nav > li > a {
  color: #ffffff;
}
.sidebar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #022f5a;
}
.sidebar-nav > .active > a,
.sidebar-nav > .active > a:hover,
.sidebar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #022f5a;
}
.sidebar-nav > .disabled > a,
.sidebar-nav > .disabled > a:hover,
.sidebar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

/***************************
BEGIN: page menu
****************************/
.page-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: none;
}
#pagemenu ul li {
margin: 0px;
padding: 0px;
}
.page-menu ul li a {

display: block;
padding: 5px 0px 2px 4px;
width:100%;
text-decoration:none;
/*white-space: nowrap;*/

}

.page-menu ul li.selected a {
color: #000000;
background-color: #eeeeee;
border-radius: 6px;
font-weight: bold;

}

.page-menu ul li a:hover, #vertmenu ul li a:focus {
color: #000000;
background-color: #eeeeee;
}
/***************************
BEGIN: links list sections
****************************/
.section-links ul
{
    overflow: hidden; 
    margin: 0; 
    padding: 0;
    list-style-type: none;
    float: right;
    margin-bottom:10px;
}
.section-links ul li
{
    float: left; 
    margin-bottom: 0;  
    margin-right: 0.5em;
    line-height: 1; 
    float: left;
}
.section-links ul li a 
{ 
    padding: 0.25em 0.5em; 
    display: block; 
    border: none; 

}

.panel-default {
  border-color: #033c73;
}

.panel-default > .panel-heading {

  color: #fff;
  background-color: #033c73;
  border-color: #033c73;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #033c73;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #033c73;
}

.panel-menu {
  border-color: #dddddd;
  margin-top:10px;
}

.panel-menu > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.panel-menu > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-menu > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}

.criteria-button 
{
    margin-top:24px;
}

.form-control 
{
    height:auto;
}