﻿<link href="~/Content/loginstyle.css" rel="stylesheet" />
@model Laundry.Model.LaundryMan


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Login</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<hr />*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container text-capitalize" style="margin-bottom:2px; font-size:14px;">
            @if (Session["ConfirmLogin"] != null && Session["ConfirmLogin"].ToString() != "")
            {
                <div class="bg-danger alert alert-dismissable">
                    @Session["ConfirmLogin"].ToString()
                </div>
            }
            @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
                {
                <div class="bg-danger alert alert-dismissable" style="margin-top:1px;">
                    @ViewData["Message"]
                </div>
            }
        </div>
        <div class="container" style="margin-top:80px; margin-bottom:80px;">

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="margin-top:10px;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>*@
            @*<section class="container">*@
            <div class="login">
                @if (ViewBag.CompanyShortName != "" || ViewBag.CompanyShortName != null)
                { <h1>Login to @ViewBag.CompanyShortName App</h1>}
                else
                {<h1>Login to Laundry App</h1> }
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p> @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Username" })</p>
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p> @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })</p>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="margin-top:10px;">
                    <div class="col-md-offset-2 col-md-10">
                        @*<p class="submit">*@ <input type="submit" value="Login" class="btn btn-default" />@*</p>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
}
