﻿@model Laundry.Model.CompanyDetail

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    @if (ViewBag.CompanyName != null || ViewBag.CompanyName != "")
    {
        <h3>@ViewBag.CompanyName</h3>
    }
    else
    {
    <h3>LAUNDRY AND DRY CLEANING SERVICE</h3>
    }
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <img src="~/Images/images4.jpg" alt="Laundy Image" width="310" height="150" />
    <img src="~/Images/sharonwasheasy8.png" alt="Laundy Image" width="310" height="150"  style="margin-left:30px;"/>
    <img src="~/Images/images5.jpg" alt="Laundy Image" width="310" height="150" style="margin-left:30px;" />
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Approach Us</h2>
        <p>
            Walk in to any of our offices, and experience the beauty and flexibility of our services.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Process</h2>
        <p>It only takes 24 hours for your clothes to be ready for collection.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Collection</h2>
        <p>Collection is as SIMPLE as ABC. You only need to come along with  your receipt.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>

