﻿@model IEnumerable<Laundry.Model.PaymentDetail>

@{
    ViewBag.Title = "Payment Details";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>@Session["CustomerName"].ToString(), Payment Details</h2>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead style="color:blueviolet;">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerTag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AmountPaid)
                    </th>
                </tr>
            </thead>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.KeyDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerTag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountPaid)
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>
