﻿@model IEnumerable<Laundry.Model.CompanyDetail>

@{
    ViewBag.Title = "CompanyRegistration";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@*<h2>CompanyRegistration</h2>*@
<h2>Company Registration</h2>
<hr />
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead style="color:blueviolet;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Company_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company_ShortName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company_Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company_Phone1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company_Phone2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company_Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company_ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company_Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company_Phone1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company_Phone2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company_Email)
                        </td>
                        <td>
                            @Html.ActionLink("Update", "CompanyRegUpdate", new { Controller = "Registration", Area = "Security", id = item.Company_Id })

                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*   <div class="form-group">
                @Html.Label("Company Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Company_Name", "", new { @class = "form-control" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.Label("Company Short Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Company_ShortName", "", new { @class = "form-control" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextArea("Company_Address", "", new { @class = "form-control" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.Label("Phone Number 1", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Company_Phone1", "", new { @class = "form-control" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.Label("Phone Number 2", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Company_Phone2", "", new { @class = "form-control" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Company_Email", "", new { @class = "form-control" })
                    <span id="VerificationMsg"></span>
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.Label("Username", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Company_Username", "", new { @class = "form-control" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Company_Password", "", new { @class = "form-control" })
                </div>
            </div>*@

        @*<div class="form-group">
                <label for="ConfirmPassword" class="control-label col-md-2">Confirm Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" />
                    @Html.ValidationMessage("", "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-default" />
                </div>
            </div>*@
    </div>
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Company_Email').blur(function () {
                if ($('#Company_Email').val() != "") {
                    VerifyCompanyEmail();
                }
            });

            function VerifyCompanyEmail() {
                email = $('#Company_Email').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("VerifyCompanyEmail", new { Controller = "Registration", Area = "Security" })',

                    data: {
                        email: email
                    },
                    success: function (response) {
                        console.log(response)
                        $('#VerificationMsg').text(response);
                        //  $('#Username').focus();
                        //Check for how to return Json failure
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }
                });

            }

        });

    </script>
}
