﻿@model Laundry.Model.Customer

@{
    ViewBag.Title = "Customer Registration";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">

            <h2>Customer Registration</h2>
            <hr />

            @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
                {
                <div class="alert alert-dismissable alert-success" id="Message">
                    @ViewData["Message"]
                </div>
            }


            <div class="alert alert-danger" role="alert" id="VerificationMsg" style="display:none">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
            </div>
            <div class="form-group">
                @Html.Label("Surname", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })*@
                    @Html.TextBox("Surname", "", new { @class = "form-control", required = "Required" })
                    @*@Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Othername", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.TextBoxFor(model => model.Othername, new { @class = "form-control" })*@
                    @Html.TextBox("Othername", "", new { @class = "form-control", required = "Required" })
                    @*@Html.ValidationMessageFor(model => model.Othername, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Sex", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownListFor(model => model.Sex, new List<SelectListItem>{
                        new SelectListItem { Text = "Male", Value = "Male" },
                        new SelectListItem { Text = "Female", Value = "Female"} }, "Select", new { @class = "form-control" })*@
                    @Html.DropDownList("Sex", new List<SelectListItem>{
               new SelectListItem { Text = "Male", Value = "Male" },
               new SelectListItem { Text = "Female", Value = "Female"} }, "Select", new { @class = "form-control", required = "Required" })
                    @*@Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Customer Phone", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.TextBoxFor(model => model.CustomerPhone, new { @class = "form-control" })*@
                    @Html.TextBox("CustomerPhone", "", new { @class = "form-control", required = "Required" })
                    @*@Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Email Address", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })*@
                    @Html.TextBox("EmailAddress", "", new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Address", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.TextAreaFor(model => model.Address, new { @class = "form-control" })*@
                    @Html.TextArea("Address", "", new { @class = "form-control", required = "Required" })
                    @*@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-primary" />
                    <input type="submit" value="Cancel" id="Cancel" name="Cancel" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead style="color:blueviolet;">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Surname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Othername)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sex)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmailAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @if (Model != null)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Othername)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Sex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CustomerPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.EmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Address)
                            </td>
                            <td>
                                @Html.ActionLink("Enter Transaction", "TransEntry", new { Controller = "Transaction", Area = "User", phonenumber = Model.CustomerPhone })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#CustomerPhone').blur(function () {
                if ($('#CustomerPhone').val() != "") {
                    VerifyCustomerPhoneNumber();
                }
            });

            function VerifyCustomerPhoneNumber() {
                phone = $('#CustomerPhone').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("VerifyCustomerPhoneNumber", new { Controller="Registration", Area= "Security" })',

                    data: {
                        phone: phone
                    },
                    success: function (response) {
                        console.log(response)
                        if (response != "") {
                            $('#VerificationMsg').text(response);
                            $('#VerificationMsg').show();
                        } else {
                            $('#VerificationMsg').text('');
                            $('#VerificationMsg').hide();
                        }
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }
                });

            }

            $('#EmailAddress').blur(function () {
                if ($('#EmailAddress').val() != "") {
                    //var reg =new RegExp("^([0-9a-zA-Z]([-\\.\\w]*[0-9a-zA-Z])*([0-9a-zA-Z][-\\w]*[0-9a-zA-Z]\\.)+[a-zA-Z]{2,9})$");
                    //if (!reg.test($('#EmailAddress').val())) {
                    //    console.log("Invalid email address");
                    //    $('#VerificationMsg').text("Invalid email address");
                    //    $('#VerificationMsg').show();
                    //}

                    //else {
                    //     $('#VerificationMsg').text('');
                    //        $('#VerificationMsg').hide();
                    //    VerifyCustomerEmailAddress();
                    //}

                  
                    if (!isEmailValid($('#EmailAddress').val())) {
                        console.log("Invalid email address");
                        $('#VerificationMsg').text("Invalid email address");
                        $('#VerificationMsg').show();
                    }

                    else {
                        $('#VerificationMsg').text('');
                        $('#VerificationMsg').hide();
                        VerifyCustomerEmailAddress();
                    }

                                       
                }
            });

            function isEmailValid(emailAdress) {
                var EMAIL_REGEXP = new RegExp("^[a-z0-9]+(\.[_a-z0-9]+)*@@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$", 'i');
                return EMAIL_REGEXP.test(emailAdress)
            }

            function VerifyCustomerEmailAddress() {
                var email = $('#EmailAddress').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("VerifyCustomerEmail", new { Controller="Registration", Area= "Security" })',

                    data: {
                        email: email
                    },
                    success: function (response) {
                        console.log(response)
                        if (response != "") {
                            $('#VerificationMsg').text(response);
                            $('#VerificationMsg').show();
                        } else {
                            $('#VerificationMsg').text('');
                            $('#VerificationMsg').hide();
                        }
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }
                })
            }

            $('#Cancel').click(function (e) {
                e.preventDefault();
                $('#Surname').val('');
                $('#Othername').val('');
                $('#CustomerPhone').val('');
                $('#EmailAddress').val('');
                $('#Address').val('');
                $('#Sex').val('');
                $('#VerificationMsg').text('');
                $('#Message').text('');
                $('#Message').hide();

            });
        });

    </script>
}

