﻿@model Laundry.Model.Customer

@{
    ViewBag.Title = "Customer Registration";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <h2>Update Customer Detail</h2>
            <hr />
            @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
                {
                <div class="alert alert-dismissable alert-success" id="Message">
                    @ViewData["Message"]
                </div>
            }

            <div class="alert alert-danger" role="alert" id="VerificationMsg" style="display:none">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerPhone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustomerPhone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Othername, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Othername, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Othername, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sex, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Sex, new List<SelectListItem>{
               new SelectListItem { Text = "Male", Value = "Male" },
               new SelectListItem { Text = "Female", Value = "Female"} }, "Select", new { @class = "form-control ", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
           @Html.TextBoxFor(model => model.CustomerId, new { @class = "form-control", style="display:none" })
            @*@Html.TextBoxFor(model => model.CustomerId, new { @class = "form-control"})*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <input type="submit" value="Cancel" id="Cancel" name="Cancel" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        $(document).ready(function () {
             $('#CustomerPhone').blur(function () {
                if ($('#CustomerPhone').val() != "") {

                    GetCustomerByPhoneNumber();
                    $('#Next1').focus();
                }
            });

            function GetCustomerByPhoneNumber() {
                phone = $('#CustomerPhone').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("GetCustomerByPhoneNumber", new { Controller="Search", Area= "Customer" })',

                    data: {
                        phone: phone
                    },
                    success: function (response) {
                        console.log(response)
                        if (response != null) {
                            $('#Surname').val(response.Surname);
                            $('#Othername').val(response.Othername);
                            $('#EmailAddress').val(response.EmailAddress);
                            $('#Sex').val(response.Sex);
                            $('#Address').val(response.Address);
                            $('#CustomerId').val(response.CustomerId);
                            //$('#CustomerPhone').attr('disabled', 'disabled')

                        } else {

                        }
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }
                });

            }

            @*$('#EmailAddress').blur(function () {
                if ($('#EmailAddress').val() != "") {
                    VerifyCustomerEmailAddress();
                }
            });

            function VerifyCustomerEmailAddress() {
               var email = $('#EmailAddress').val();
                $.ajax({
                    type: "GET",

                    url: '@Url.Action("VerifyCustomerEmail", new { Controller="Registration", Area= "Security" })',

                    data: {
                        email: email
                    },
                    success: function (response) {
                        console.log(response)
                        if (response != "") {
                            $('#VerificationMsg').text(response);
                            $('#VerificationMsg').show();
                        } else {
                            $('#VerificationMsg').text('');
                            $('#VerificationMsg').hide();
                        }
                    },

                    failure: function (msg) {
                        // $('#output').text(msg);

                    }
                })
            }*@

            $('#Cancel').click(function (e) {
                e.preventDefault();
                $('#Surname').val('');
                $('#Othername').val('');
                $('#CustomerPhone').val('');
                $('#EmailAddress').val('');
                $('#Address').val('');
                $('#Sex').val('');
                $('#VerificationMsg').text('');
                $('#VerificationMsg').hide(); 
                $('#Message').text('');
                $('#Message').hide();
                //$('#CustomerPhone').removeAttr('disabled')
            });

        });

    </script>
}

