﻿@model IEnumerable<Laundry.Model.Remittance>

@{
    ViewBag.Title = "ConfirmRemittance";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Confirm Remittance</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container" style="margin-bottom:15px;">
            @if (Session["UpdateMessage"] != null && Session["UpdateMessage"].ToString() != "")
            {
                <div class="bg-success" id="message">
                    @Session["UpdateMessage"];
                </div>
            }

        </div>
        <div class="form-group">
            @Html.Label("Start Remit Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="txtStartDate" id="txtStartDate" class="form-control" />
                @Html.ValidationMessage("", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("End Remit Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="txtEndDate" id="txtEndDate" class="form-control" />
                @Html.ValidationMessage("", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="List" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="container">
    @*@Html.ActionLink("Excel", "ExportSalesReport", new { ReportType = "Excel" })
    @Html.ActionLink("PDF", "ExportSalesReport", new { ReportType = "pdf" })*@
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead style="color:blueviolet;">
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remittance_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remittance_Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remittance_Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remittance_UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Special_Note)
                    </th>
                </tr>
                </thead>
                @if (Model != null)
            {
                foreach (var item in Model)
                {
                        <tr>
                            @if (item.Remittance_Status == "Pending")
                            {
                                <td>
                                    <input type="checkbox" class="ckb" name="updckb" id="@item.Remittance_Id" value="@item.Remittance_Id" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="checkbox" class="ckb" name="updckb" id="@item.Remittance_Id" value="@item.Remittance_Id" checked="checked" />
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Remittance_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remittance_Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remittance_Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remittance_UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Special_Note)
                            </td>
                        </tr>
                    }
                }
</table>
    </div>
</div>
<div class="container">
    <a href='@Url.Action("")' class="btn btn-default" id="confirm" onclick="return confirmRemittance()">Confirm</a>
</div>
@section Scripts{
    <script>
        function confirmRemittance() {
            var r = confirm("Are you sure you want to confirm selected remittance?");
            if (r) {
                return true;
            }
            else {
                return false;
            }

        }

        $(document).ready(function () {
            $('#confirm').click(function () {
                var checkedIds = $(".ckb").filter(":checked").map(function () { return this.id; });
                //alert("" + checkedIds[0] + "," + checkedIds[1]);
                $.ajax({
                    type: "POST",
                    url:"@Url.Action("CorfirmRemit")",
                    traditional:true,
                    data:{Ids:checkedIds.toArray(),Status:"Confirmed"},
                    success:successFunc,
                    error:errorFunc
                });

                function successFunc(data, status) {
                    location.reload();
                }

                function errorFunc() {
                    alert("Error occured");
                }

            })
        })
    </script>
}