﻿@using (Html.BeginForm())
{
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <td>
                            <label>Search By</label>
                        </td>
                        <td class="others-toggle turn-off-display">
                            <label id="DisplaySearchName" name="DisplaySearchName">Value</label>
                        </td>
                        <td class="date-toggle turn-off-display">
                            <label> Start Date</label>
                        </td>
                        <td class="date-toggle turn-off-display">
                            <label>End Date</label>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tr>
                    <th>
                        <select name="type" id="type" class="form-control">
                            <option value="Select" selected>Select</option>
                            <option value="TransNo">Transaction Number</option>
                            <option value="Name">Email Address</option>
                        </select>
                    </th>
                    <th class="others-toggle turn-off-display">
                        <input type="text" name="value" id="value" class="form-control" />
                    </th>
                    <th class="date-toggle turn-off-display">
                        <input type="date" name="startdate" id="startdate" class="form-control" />
                    </th>
                    <th class="date-toggle turn-off-display">
                        <input type="date" name="enddate" id="enddate" class="form-control" />
                    </th>
                    <th>
                        <input type="submit" value="Search" class="btn btn-default" />
                    </th>
                </tr>
                @*<tr><td colspan="4"><input type="submit" value="Search" class="btn btn-default" /></td></tr>*@


            </table>
        </div>
    </div>
}
