﻿@model IEnumerable<Laundry.Model.Customer>

@{
    ViewBag.Title = "CustomerSearch";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Customer Search</h2>
@using (Html.BeginForm("CustomerSearch", "Search", FormMethod.Get, new { PageNo = "1", Area = "Customer" }))
{
    @*@Html.AntiForgeryToken()*@
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container text-capitalize" style="margin-bottom:2px; font-size:14px;">
            @if (ViewBag.Message != null && ViewBag.Message.ToString() != "")
            {
                <div class="bg-danger alert alert-dismissable" style="margin-top:1px;">
                    @ViewBag.Message
                </div>
            }
        </div>

        <div class="form-group">
            @Html.Label("Name or Phone Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    <input type="text" name="name" id="name" class="form-control" value="@ViewBag.name" required="required" />
                    @Html.ValidationMessage("", "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead style="color:blueviolet;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Surname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Othername)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sex)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerPhone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Reg_Status)
                        </th>*@
                        @*<th></th>*@
                    </tr>
                </thead>
                @if (Model != null)
                {

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                          @Html.ActionLink(item.Surname, "Overview", new { Controller = "Search", Area = "Customer", phonenumber=item.CustomerPhone})
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Othername)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Reg_Status)
                            </td>*@
                            @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
                            </td>*@
                        </tr>
                    }
                }

            </table>
        </div>
    </div>
}
