﻿@model Laundry.Model.Customer

@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    Session["CustomerName"] = Model.Surname + " " + Model.Othername;
}

<h2>Customer Overview</h2>

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="section panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Customer Information</h3></div>
                    <div class="panel-body">
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4">Surname:</label><div class="col-md-8"><span>@Model.Surname</span></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Othername:</label><div class="col-md-8"><span>@Model.Othername</span></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Sex:</label><div class="col-md-8"><span>@Model.Sex</span></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Phone Number:</label><div class="col-md-8"><span>@Model.CustomerPhone</span></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Email Address:</label><div class="col-md-8"><span>@Model.EmailAddress</span></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Address:</label><div class="col-md-8"><span>@Model.Address</span></div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-menu">
                    <div class="panel-heading">
                        <h4 class="panel-title">Related Items</h4>
                    </div>
                    <div class="panel-body page-menu">
                        <ul>
                            <li class="selected">@Html.ActionLink("Update Customer", "UpdateCustomer", new { Controller = "Registration", Area = "Security", phonenumber = @Model.CustomerPhone })</li>
                            <li>@Html.ActionLink("Transaction Entry", "TransEntry", new { Controller = "Transaction", Area = "User", phonenumber = @Model.CustomerPhone })</li>
                            <li>@Html.ActionLink("Recent Transactions", "TransactionHistory", new { Controller = "Transaction", Area = "User", phonenumber = @Model.CustomerPhone })</li>
                        </ul>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
